<div class="container">
    <h3>Donation form</h3>
    <form [formGroup]="donateForm" >
      <div class="form-group">
        <div class="form-control">
          <label for="username">Username</label>
          <br>
          <input type="username" formControlName="username" placeholder=" Username">
          <span *ngIf="(username.touched ||username.dirty) && username.invalid && username.errors.required">
            Username is required.
          </span>
        </div>
        <br>
        <br>
        <div class="form-control">
          <label for="email">Email</label>
          <br>
          <input type="email" formControlName="email" placeholder="Email ID">
          <span *ngIf="(email.dirty || email.touched) && email.invalid && email.errors.invalidEmail">
            Value has to be a valid email address.
          </span>
          <span *ngIf="(email.dirty || email.touched) && email.invalid && email.errors.required">
            Email is required.
          </span>
         
        </div>
        <br>
        <br>
        <div class="form-control">
          <label>Category</label>
          <br>
          <label *ngFor="let category of categories">
            <input type="radio" formControlName="category" [value]="category">{{category}}
          </label>
          <!-- <span *ngIf="category.errors.required">
            category is required.
          </span> -->
        </div>
        <br>
        <br>
        <div class="form-control">
          <label for="email">Amount</label>
          <br>
          <input type="amount" formControlName="amount" placeholder="amount">
          <span *ngIf="(amount.touched ||amount.dirty) && amount.invalid && email.errors.required">
            Amount is required.
          </span>
        </div>
        <br>
        <br>
        <button [disabled]="!donateForm.valid" (click)="log()">Submit</button>
      </div>
    </form>
  </div>